html, body{
    margin: 0;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

h1, h2{
    font-family: "Inter";
    font-weight: 700;
}

h3, h4 {
    font-family: "Poppins";
    font-weight: 600;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 18px;
}

p{
    font-family: "Poppins";
    font-weight: 300;
    font-size: 16px;
}

/* Navigation Bar */

ul{
    list-style: none;
    display: flex;
    column-gap: 40px;
}

.nav-bar{
    background-color: #333333;
    color: #fff;
    height: 64px;
    min-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.nav-link{
    color: #fff;
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 15px;
}

.left-items, .right-items{
    display: flex;
    align-items: center;
}

.logo{
    height: 30px;
    width: 30px;
    margin-right:3px;
    margin-left: 60px;
}

.nav-btn{
    margin: 0 70px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #333333;
    width: 75px;
    height: 31px;
}

/* Intro Section */

.intro{
    display: flex;
    padding-bottom: 121px;
    justify-content: space-between;
}

.intro-content{
    width: 385px;
    height: 207px;
    margin-left: 62px;
    margin-right: -140px;
    margin-top: 405px;
}
.intro-content h2{
    color: #FFD7A8;
    margin-top: -4px;
    margin-bottom: 4px;
}

.order-btn{
    width: 164px;
    height: 50px;
    background-color: #FFD7A8;
    border: none;
    border-radius: 15px;
    margin-top: 18px;
}

.order-link{
    color: #fff;
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
}

.bun-carousel{
    width: 100%;
    height: auto;
    margin-top: -64px;
    position: relative;
    z-index: 0;
}

/* History Section */

.history{
    height:auto;
    background-color: #333333;
    padding: 121px 178px 56px;
    position: relative;
}
.history-top{
    display: flex;
    justify-content: space-between;
}
.history-content{
    width: 575px;
}
.history-top h2,.history-top p, .history-top h3{
    color: #fff;
}

.order{
    margin-top: 58px;
    
}

.delivery-logo{
    display: block;
    margin:4px;
}

.stats{
    display: flex;
    justify-content: space-between;
    margin: 38px 150px 0;
    color: #FFD7A8;
    text-align: center;
}

.stat-box p{
    font-size: 20px;
    margin-bottom: 18px;
}

.history-img{
    position: absolute;

}

.v-img3{
    left: 52px;
    top: 6px;
}

.v-img2{
    top: 358px;
    left:0px;
}

.v-img1{
    top: 319px;
    right: 7px;
    bottom:3px;
}